.nav {
  @apply bg-indigo-300 py-3;
}

.active {
  display: flex !important;
}

.logo {
  @apply w-[180px];
}

.little_line {
  height: 18px;
  width: 0.5px;
  background: #1c1f35;
}

.nav__item {
  @apply relative inline-block px-3 border-r border-slate-400;
}

.nav__link,
.flexible_item,
.lang_change {
  color: #1c1f35;
}

.hidden_line {
  @apply hidden h-0.5 rounded absolute top-14 mx-auto;
  background-color: #1c1f35;
  width: 62px;
}

.nav__item:active .hidden_line,
.nav__link:hover .hidden_line {
  @apply block;
}

.lang_change {
  @apply flex items-center gap-5;
}

.flexible_item,
.flexible_item2,
.lang_change2 {
  @apply flex items-center gap-3;
}

.flexible_item2 {
  @apply text-sm;
}

.lang_change2 {
  @apply gap-2;
}

.flexible_item {
  @apply gap-x-8;
  width: 30%;
}

.companies {
  @apply relative;
}

.companies:hover .dropdown {
  @apply block;
}

.dropdown {
  @apply hidden absolute bg-indigo-200 w-40 z-50 rounded left-px flex items-center flex-col w-44 text-start;
}

.dropdown div:hover {
  @apply bg-indigo-500;
}

.dropdown div {
  @apply py-2 px-2;
}
.mobile_menu_icon,
.tablet_menu_icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.nav_list {
  width: 50%;
  display: flex;
}

@media screen and (max-width: 1350px) {
  .nav_list {
    font-size: 14px;
  }

  .flexible_item {
    @apply gap-x-3;
    font-size: 16px;
  }

  .lang_change,
  .flexible_item2 {
    @apply gap-1;
    font-size: 18px;
  }
}

@media screen and (max-width: 1100px) {
  .nav_list {
    width: 96%;
    display: none;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
    position: absolute;
    top: 3%;
    right: 2%;
    padding: 15px;
    z-index: 99999;
    text-align: center;
  }

  .closeBtn {
    position: absolute;
    top: 10%;
    right: 4%;
    font-size: 18px;
  }

  .mobile_nav__item {
    display: none;
  }

  .nav__item,
  .nav__item .nav__link,
  .mobile_nav__item {
    padding: 6px 15px;
    border-right-width: 0;
    border-radius: 5px;
    align-self: center;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0ms !important;
  }
  .nav__item:hover .nav__link,
  .mobile_nav__item:hover {
    background-color: rgb(155, 172, 255);
    color: white !important;
  }
  .tablet_menu_icon {
    display: block;
  }

  .flexible_item {
    width: 60%;
    justify-content: end;
  }
}

@media screen and (max-width: 600px) {
  .flexible_item {
    display: none;
  }

  .mobile_nav__item {
    display: flex;
  }
  .tablet_menu_icon {
    display: none;
  }
  .mobile_menu_icon {
    display: block;
  }
}
