.footer {
    width: 100%;
    background: url("/images/bg111.png"), url("/images/bg1.png"), #091242;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top left, top right, right;
}

.footer * {
    color: white;
}

.wrapper {
    @apply grid grid-cols-1 sm:grid-cols-2 gap-0 sm:gap-10 lg:gap-0 lg:flex justify-between md:flex-wrap lg:flex-nowrap;
}

.footer__list h5 {
    @apply text-xl sm:text-2xl font-bold mb-2 mt-6 sm:my-11;
    letter-spacing: 1.125px;

}

.footer_paragraph {
    @apply leading-6  md:ml-10 sm:max-w-[331px] mt-14 md:mt-8;
    color: #E8E8E8;
    letter-spacing: .72px;
}

.footer_list__link,
.footer_list__item,
.contact__link {
    @apply leading-7 sm:leading-10 sm:my-2;
    letter-spacing: .72px;
}
.address_text{
    @apply leading-normal p-0 m-0 max-w-[230px]
}

.footer_list__link:hover,
.footer_list__item:hover,
.contact__link:hover *,
.icons:hover * {
    @apply text-indigo-300
}



.contact__link {
    @apply flex  items-center gap-4 max-w-[300px]
}

.icons {
    @apply text-xl;
}

.social_media_links {
    @apply flex md:justify-center gap-7 text-xl
}


.footer_ul {
    @apply sm:pt-3
}
.footer_ul__services{
    @apply lg:max-w-[290px]
}
.footer_line{
    @apply h-0.5 w-full mt-1 sm:mt-0;
    background: #4E5683;

}
.footer_last_section{
    @apply flex  flex-wrap md:flex-nowrap  justify-center text-center md:text-start md:justify-between items-center pt-5 pb-8
}
.footer_last_section *{
    letter-spacing: 0.72px;
    @apply leading-6;
}
.footer_second_ul{
    @apply flex flex-col  md:pt-4  justify-start  gap-2
}