.card {
  margin: 0 auto;
  position: relative;
  width: 100%;
  border-radius: 15px;
  background-color: white;
  @apply shadow
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 35px 10px 35px;
}

.card img {
  position: relative;
  width: 100%;
  height: 250px;
  object-fit: cover;
  z-index: 99;
  border-radius: 15px 15px 0px 0px;
}

.title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  padding: 26px 0;
}

.desc {
  font-size: 16px;
  padding-bottom: 20px;
}

.button {
  font-size: 24px;
}