.containerWrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.containerWrapper .swiper-container {
  width: 100% !important;
}

.containerWrapper .swiper {
  padding-bottom: 30px;
}

.containerWrapper .swiper-button-prev {
  left: -40px;
}

.containerWrapper .swiper-button-next {
  right: -40px;
}

.containerWrapper .swiper-pagination {
  top: 110%;
}

.swiper-slide:not(.swiper-slide-active) {
  opacity: 0.5;
}

.swiperItem {
  display: flex;
  justify-content: center;
  border: 1px solid var(--gray-light);
  margin-bottom: 45px;
}

.prev {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: var(--yellow);
  position: absolute;
  left: -40px;
  top: calc(50% - 10px);
  transform: rotate(180deg);
}

.disabled {
  opacity: 0.5 !important;
}

.next {
  position: absolute;
  right: -40px;
  top: calc(50% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: var(--yellow);
}

@media (max-width: 1024px) {
  .prev {
    left: unset;
    right: 35px;
    top: -45px;
  }

  .next {
    right: 0;
    top: -45px;
  }
}